@model ChallengeClub.Models.AttendanceModel;
@{
    ViewData["Title"] = "Attendance";
}

<div id="body">



    @foreach (var item in Model.MemberAttendance)
    {

        <table>
            <ul><h3>Today's Attendance</h3></ul>
            <tr><td><h4><li><a asp-controller="EditMember" asp-action="EditMember">@item.Name</a></li></h4></td></tr>
        </table>
        
    }

</div>


